.venv/
.pytest_cache/
.eleanity/
__pycache__/
*.pyc
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
dist/
build/
*.egg-info/
.DS_Store
eleanity.local-light.yaml
examples/*.html
tmp/
local/**
!local/README.md
